In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

In [3]:
df = pd.read_csv('olympic_women .csv')
df.head()

   Year                               Name  Time in seconds
0  2021    Elaine Thompson-Herah (Jamaica)            10.61
1  2016          Elaine Thompson (Jamaica)            10.71
2  2012        Shelly-Ann Fraser (Jamaica)            10.75
3  2008  Shelly-Ann Fraser-Pryce (Jamaica)            10.78
4  2004        Yuliya Nesterenko (Belarus)            10.93

In [5]:
X = df[['Year']] 
y = df['Time in seconds']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [7]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [8]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.11491932130765536

In [9]:
print("Intercept:", model.intercept_)
print("Coefficient:", model.coef_)

Intercept: 40.5439767665824
Coefficient: [-0.01483222]

In [10]:
input_data = np.array([[2024]])
predicted_Time = model.predict(input_data)
predicted_Time[0]

c:\Users\raush\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

10.523563861803297